@tailwind base;
@tailwind components;
@tailwind utilities;



.react-flow__node {
  border: none !important;
  background: transparent !important;
  padding: 0 !important;
}

.react-flow__node.react-flow__node-input,
.react-flow__node.react-flow__node-output {
  border: none !important;
  background: transparent !important;
}
 
 
.react-flow__node {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}
 
.react-flow__handle {
  width: 12px !important;
  height: 12px !important;
  background: white !important;
  border: 1.5px solid #94a3b8 !important;  
  border-radius: 50% !important;
  transition: all 0.2s ease-in-out !important;
}

 
.react-flow__handle.connected {
  background: #3b82f6 !important;  
  border-color: #2563eb !important; 
}

 
.react-flow__handle:hover {
  background: #60a5fa !important; 
  border-color: #3b82f6 !important; 
  transform: scale(1.1);
}
 
.react-flow__edge.selected .react-flow__edge-path,
.react-flow__edge.animated .react-flow__edge-path {
  stroke: #3b82f6 !important; 
  stroke-width: 2px !important;
}

 
.react-flow__edge-path {
  stroke-width: 1.5 !important;
  stroke: #94a3b8 !important;  
}
 
.react-flow__edge.connected .react-flow__edge-path {
  stroke: #3b82f6 !important;  
  stroke-width: 2px !important;
}
 
.react-flow__edge.selected .react-flow__edge-path {
  stroke: #2563eb !important; 
  stroke-width: 2px !important;
}
 
.react-flow__connection-path {
  z-index: 1000 !important;
}
 
.react-flow__connection {
  z-index: 1001 !important;
}
 

/* scrollbar */

 

.custom-textarea::-webkit-scrollbar {
  width: 6px;
}

.custom-textarea::-webkit-scrollbar-track {
  background: transparent;
}

.custom-textarea::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
  border-radius: 9999px;
  border: 2px solid transparent;
}

.custom-textarea:hover::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
}